
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@keyframes glassAnimation {
    0%   {background-image: url('../../assets/images/animations/glass/Frame_11.svg');}
    7.69%   {background-image: url('../../assets/images/animations/glass/Frame_22.svg');}
    15.38%  {background-image: url('../../assets/images/animations/glass/Frame_33.svg');}
    23.07%  {background-image: url('../../assets/images/animations/glass/Frame_44.svg');}
    30.76%  {background-image: url('../../assets/images/animations/glass/Frame_55.svg');}
    38.46%  {background-image: url('../../assets/images/animations/glass/Frame_66.svg');}
    46.15%  {background-image: url('../../assets/images/animations/glass/Frame_77.svg');}
    53.84%  {background-image: url('../../assets/images/animations/glass/Frame_66.svg');}
    61.53%  {background-image: url('../../assets/images/animations/glass/Frame_55.svg');}
    69.22%  {background-image: url('../../assets/images/animations/glass/Frame_44.svg');}
    76.92%  {background-image: url('../../assets/images/animations/glass/Frame_33.svg');}
    84.61%  {background-image: url('../../assets/images/animations/glass/Frame_22.svg');}
    92.30%   {background-image: url('../../assets/images/animations/glass/Frame_11.svg');}
    100.00%   {background-image: url('../../assets/images/animations/glass/Frame_11.svg');}
  }
  
@keyframes arrowsAnimation {
  0% {transform: translateY(10px)}
  50% {transform: translateY(0px)}
}
.kaushan {
  font-family: 'Kaushan Script', cursive;
}
  .btn-secondary {
    background-color: #C46F48;
    transition: .2s;
    color:#DDDDDD;
  }
  .btn-secondary:hover {
    background-color: #C46F48;
    transition: .2s;
    color:#FFFFFF;
  }
  .position-relative:hover .btn-secondary {
    background-color: #C46F48;
    color:#FFFFFF;
    transition: .2s;
    border: 1px solid #DDD;
  }
  .parallax {
      height: 600px;
      background: transparent;
  }
  .text-grey {
    color:grey!important;
  }
  .bg-dark2 {
    background-color: #1c1c1c;
  }
  .text-light {
    color: #B7B7B7!important;
  }
  .nav-link {
    padding: 8px;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
  }
  /* .position-relative .bg-dark {
    transition: .5s;
    opacity: 0;
  } */
  .card-body  {
    transition: .5s;
  }
  .increase-text:hover .card-body  {
    transform: scale(1.2);
    transition: .5s;
  }
  .half-pic {
    width: 100%;
    height: auto;
    padding-top:20px;
    padding-bottom:20px;

  }
  .parallax div {
    height: 100vh;
  }
  .nav-link {
    transition: .3s;
  }
  #navbar {
    transition: .3s;
    box-shadow: none;
    font-size: 12px!important;
  }
  .nav-transparent .nav-link {
    font-size: 18px!important;
    color: white;
  }
  .navbar-brand img, .hamburger {
    transition: .3s;
  }
  .nav-transparent .navbar-brand img {
    height: 80px;
  }
  .nav-transparent .hamburger {
    transform: scale(1.2);
  }
  #parallax2, #parallax3 {
    height: 450px;
  }
  #parallax4, #parallax5 {
    height: 250px;
  }
  /* 

  .reveal{
    position: relative;
    transform: scale(0);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: scale(1);
    opacity: 1;
  }
  

  .revealSlideIn {
    position: relative;
    transform: translateX(-100);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .revealSlideIn.active{
    transform: translateX(0);
    opacity: 1;
  } */
  #wineTitle, #wineLabel {
    padding: 40px;
  }

  #logo-grey {
    z-index: -1; 
    max-height: 450px;
  }
  @media screen and (min-width: 992px) {
    #wineTitle {
      padding: 40px 80px;
    }
    #wineLabel {
      padding: 5px;
    }
    #logo-grey {
      margin-top: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    #wineTitle {
      padding: 40px 94px;
    }
    #wineLabel {
      padding: 5px;
    }
  }
  @media screen and (min-width: 1400px) {
    #wineTitle {
      padding: 40px 109px;
    }
    #wineLabel {
      padding: 5px;
    }
  }

  @media screen and (min-width: 768px) {
    #parallax2 {
      margin-bottom: -5vw;
    }
    #logo-grey {
      margin-top: 100px!important;
    }
  }

  @media screen and (min-width: 808px) {
    #parallax2 {
      margin-bottom: -10vw;
    }
  }

  @media screen and (min-width: 912px) {
    #parallax2 {
      margin-bottom: -13vw;
    }
  }

  @media screen and (min-width: 1062px) {
    #parallax2 {
      margin-bottom: -15vw;
    }
  }

  .margin-top-mobile {
    margin-top: 400px;
  }
  @media screen and (max-width: 768px) {
    
    .position-relative .row {
      color: #FFF;
      opacity: .8;
      transition: .5s;

    }
    /* .position-relative:hover .row,
    .position-relative:focus .row {
      color: #FFF;
      opacity: 1;
    } */
    /* .position-relative .bg-dark {
      opacity: .4;
      transition: .5s;
      color: #FFFFFF;
    } */
  }
  /* .position-relative:hover .btn-secondary, #parallax3 .btn:hover {
    box-shadow: 0px 2px 20px 0px #FFF;
  } */
  .position-relative h6{
    font-weight: 600;
  } 
  .position-relative small {
    font-weight: 400;
  } 
  /* .position-relative:hover h6,.position-relative:hover h2,.position-relative:hover small {
    color: #FFF!important;
    transition: .5s;
  }  */
  #parallax2 small, #parallax2 h6 {
    color: #DDD;
    transition: .5s;
  } 
  .standard-pic {
    width: -webkit-fill-available;
  }
  
  #arrows {
    opacity: .7;
    animation: arrowsAnimation .5s infinite;
  }

  #glass {
    width: 300px;
    height: 300px;
    animation: glassAnimation 1s infinite;
    background-position: center;
    background-size: contain;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BBB;
    border-radius: 5px!important;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .dropdown-item {
    font-size: small;
  }
  .dropdown-menu {
    margin: 30px 40px 0 0!important;
  }
  .dropdown-divider {
    margin: 0.3rem 0;
  }
  .accordion .nav-link {
    color: white;
    font-size: 24px;
    font-weight: 400;
  } 
  .disabled {
    opacity: .2;
  }